

<div class="search">

  <div class="message-row">
  <div style="    width: 100%;">

    <input [(ngModel)]='searchPhrase'
           fullWidth nbInput

           (focus)="inputFocus = true"
           (blur)="inputFocus = false"
           (mouseenter)="inputHover = true"
           (mouseleave)="inputHover = false"
           type="text"
           placeholder="{{  'What are you looking for?' }}"
           (keyup.enter)="search()" (keyup)="parseSearchBar()" class="mat-elevation-z16" (click)="searchBarClicked()">
    <button  nbSuffix nbButton ghost class="searchButtonWrapper"

            (click)="search()"
        >
      <nb-icon *ngIf="!buttonTitle; else title"  class="searchButton" icon="search-outline"></nb-icon>
      <ng-template #title>{{ buttonTitle }}</ng-template>
    </button>
    </div>

  </div>


</div>




<div *ngFor="let combinedTimeline of groupedTimeline" class="combinedTimeline">
  <!-- {{ post.qHash }} -->

  <div *ngFor="let reply of replyTree[combinedTimeline[0].qHash]"  class="replyLoop">

    <div *ngIf="combinedTimeline[0].content != undefined && reply.content != undefined" class="replyWrapper">
      <app-social-profile-post [postObj]="reply" [isMyProfile]="isMyProfile" class="postContainer mat-elevation-z8 reply">
      </app-social-profile-post>
    </div>

  </div>

  <div *ngFor="let post of combinedTimeline; let i=index" class='postOuterWrapper'>
        <div *ngIf="post.content != undefined && combinedTimeline.length > 1" class="postWrapper">
          <app-social-profile-post  [postObj]="post" [isMyProfile]="isMyProfile" class="postContainer mat-elevation-z8 post level-{{i}}" >
          </app-social-profile-post>
        </div>
        <div *ngIf="post.content != undefined && combinedTimeline.length == 1 && post.replyTo == undefined" class="postWrapper">
          <app-social-profile-post  [postObj]="post" [isMyProfile]="isMyProfile" class="postContainer mat-elevation-z8 post singleLevel" >
          </app-social-profile-post>
        </div>
        <div *ngIf="post.content != undefined && combinedTimeline.length == 1 &&  post.replyTo != undefined" class="postWrapper">
          <app-social-profile-post  [postObj]="post" [isMyProfile]="isMyProfile" class="postContainer mat-elevation-z8 post singleLevel replyPost" >
          </app-social-profile-post>
        </div>
    </div>

  </div>


  <div class="repliesHeader" *ngIf="replies != undefined && replies.length > 0">

      <nb-icon icon="message-square-outline" class="repliesIcon"></nb-icon>

    </div>

  <div *ngFor="let post of replies; let i=index" class='postOuterWrapper replyOuterWrapper'>
        <div class="postWrapper" *ngIf="post['content'].length > 0">
          <app-social-profile-post  [postObj]="post" [isMyProfile]="isMyProfile" class="postContainer mat-elevation-z8 post singleLevel" >
          </app-social-profile-post>
        </div>

    </div>



<!--
<div class="fundUs"  *ngIf="syncingStatus && !searchResultsActive && groupedTimeline != undefined && replies.length > 3">

  <a class="mat-elevation-z18" href="https://github.com/QuestNetwork/qd-social-ts#support-us" target="_blank"><button mat-stroked-button color="secondary" class="defaultSettingsButton noOutlineButton fundButton" >Fund This Module For Upgrades!</button></a>

</div> -->

<!--
<div *ngIf="groupedTimeline  == undefined || groupedTimeline.length == 0 || !syncStatus" style="margin-top: 40vh;">
  &nbsp;
  </div>
<div class="fundUs syncingButton {{syncingStatus}}"  *ngIf="!syncingStatus && replies.length < 1" style="">

  <a class="mat-elevation-z18"  target="_blank">
    <button mat-stroked-button color="secondary" class="defaultSettingsButton noOutlineButton fundButton" >
      Syncing...
    </button></a>

</div> -->
