


<div class="postDelete" (click)="postDelete(postObj)" *ngIf="isMyProfile && postObj.timestamp>0">
  <nb-icon icon="trash-2-outline" ></nb-icon>
</div>

<div class="pp"  *ngIf="postObj.timestamp>0">
<img class="mat-elevation-z14" src="./assets/defaultAvatar.png">
</div>


<div class="postAlias" *ngIf="profile['alias'].length > 0 && postObj.timestamp>0" (click)="q.os.social.profile.select(profile['key']['pubKey'])"> {{ profile['alias'] }} </div>
<div class="postTime" *ngIf="postObj['dTimestamp'].length > 0">
  {{ postObj['dTimestamp'] }}
</div>

<div class="postTime" *ngIf="postObj['dTimestamp'].length < 0">
  {{ postObj['timestamp'] }}
</div>


<div class="postContent" *ngIf="postObj.timestamp>0">


    <div *ngIf="postRows.length > 0 && postRows.length != 1 || postRows[0].length != 1 || (postRows.length > 1 || !postRows[0][0]['isEmoji'])"  class="text">
      <div *ngFor="let row of postRows" style="">

          <div *ngFor="let chunk of row" class="chunkContainer">
              <div *ngIf="!chunk['isEmoji']" class="textChunk"  [innerHTML]="chunk['text'] | linky:{newWindow: true}"></div>
              <ngx-emoji *ngIf="chunk['isEmoji']" class="emojiChunk" [emoji]="chunk['emojiColon']" set="apple" size="24"  style="display:inline-block;max-height: 24px;overflow: hidden;"></ngx-emoji>
          </div>


      </div>
    </div>



  <!-- is single emoji -->
  <div *ngIf="postRows.length == 1 && postRows[0].length == 1 && postRows[0][0]['isEmoji']">
    <ngx-emoji emoji="{{ postRows[0][0]['emojiColon'] }}" set="apple" size="64" class="" ></ngx-emoji>
  </div>


  <button nbButton (click)="reply(postObj['qHash'])" class="replyButton"><nb-icon icon="message-square-outline" style="font-size: 26px;"></nb-icon></button>
  <button nbButton (click)="selectPost(postObj['qHash'])" class="replyCount" *ngIf="replyCount > 0">{{ replyCount }}</button>


  <div class="newPostContainer mat-elevation-z8" *ngIf="selectedNode == postObj['qHash']">

    <textarea matInput name='newPost' [(ngModel)]="reply[postObj.qHash]" placeholder="Choose your words wisely"></textarea>


      <ngx-emoji [nbPopover]="emojiPickerRef" emoji="grinning" set="apple" size="24" class="emojiPickerTrigger"></ngx-emoji>

      <ng-template #emojiPickerRef>
        <emoji-mart title="Pick your emoji…" (emojiClick)="addEmoji($event,postObj['qHash'])" emoji="blush" class="emojiPicker" darkMode="true"></emoji-mart>
      </ng-template>


    <button mat-stroked-button color="primary" class="defaultSettingsButton postButton" (click)="post(postObj['qHash'])">Reply</button>

    <button mat-stroked-button color="warning" class="defaultSettingsButton postButton replyCancelButton" style="float:left" (click)="cancel()">Cancel</button>


  </div>


</div>

<div class="postContent" *ngIf="postObj.timestamp == 0" style="margin-top:0px">
[Post Deleted]
</div>
