
.browse-files-button{
    border-radius:3px;
  padding:5px;
  color:purple;
}


.importButton{
  color:purple !important;
}





.joinScreen, .inviteScreen, .captchaScreen{
  background-color: #222b45;
      padding: 20px;
          text-align: center;
}

.joinScreen,.inviteScreen,.captchaScreen,.chatScreen{
  height:100%;
}


.joinScreen > div,.inviteScreen > div,.captchaScreen > div,.chatScreen{
  height:100%;
}


.poster{
  height:30vh;
  background-color:#111161;
}

.verifyButton{
      margin-right: 70px !important;
}


.pp{
  border-radius: 5px;
  overflow: hidden;

  z-index: 1;
  float: left;
  margin-right: 10px;
}

.pp > img, .pp{
  width:60px;
  height:60px;
}

.name{
  white-space: nowrap;
}

.alias{
  white-space: nowrap;
  float:left;
  font-size: 24px;
}

.fullname{
  white-space: nowrap;
  float:left;
  margin-left: 20px;
      opacity: 0.5;
}

.about{
  clear:both;
  padding-top: 30px;
  padding-right: 20px;
}


.details{
  overflow:hidden;
  background:#2d2b2b;
  color:white;
  padding-left: 20px;
  font-size: 20px;
  position: relative;
  top: -60px;
  padding-top: 60px;
  z-index: 0;
  padding-bottom: 50px;
}

.editButton{
  position: absolute;
      right: 23px;
      font-size: 20px;
      z-index: 1;
      top: 48px;
}

.saveButton{
  position: absolute;
      font-size: 20px;
      z-index: 1;
      top: 48px;
      right: 143px;
}


.discardButton{
  position: absolute;
      right: 23px;
      font-size: 20px;
      z-index: 1;
      top: 48px;
}


.fundUs{
  text-align:center;
}

.fundButton{
  background: #bfbf13 !important;
font-size: 16px !important;
}

.profilePrivacy{
  position: absolute;
      top: 70px;
      font-size: 19px;
      right: 22px;
      background: #eed864;
      padding: 3px;
      font-weight: bold;
      border-radius: 4px;
      color: #2769f7c7;
      font-family: Ubuntu;
      line-height: 30px;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
}

.profilePrivacy nb-icon{
  font-size: 24px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

@media only screen and (max-width: 600px) {
  .fullname{
    clear: both;
    margin-left: 0;
  }
  .editButton{
    top: 52px;
  }
}


input { caret-color: white; }


.pubKeyDisplay{
  position: absolute;
  left: 99px;
  top: 30vh;
      margin-top: 55px;
  right: 8px;
  line-height: 7px;
  font-size: 7px;
  font-family: MONOSPACE;
  word-break: break-all;
  overflow: hidden;
  color: #d3a64140 !important;
z-index: 9999;
top: -45px;
cursor:pointer;
}



@media only screen and (max-width: 807px) {

  .pubKeyDisplay{
    margin-top:0;
    position: fixed;
    left: 10px;
    top: 17.5vh;
    right: 10px;
    line-height: 10px;
    font-size: 10px;
    font-family: MONOSPACE;
    word-break: break-all;
    overflow: hidden;
  }
}


.senderIcon{
  top: -2px;
    position: relative;
    color: #d2d24b;

  }

  .socialLink{
    cursor:pointer;
  }

.messageDisplayName{
  color: #d6d8dc !important;
padding-bottom: 5px !important;
}


.messageSenderStarIcon{
  color: #256dff !important;
}


.emojiChunk{
  max-height: 22px;
 overflow: hidden;
 display: inline-block;
 padding: 0;
 margin: 0;
 position: relative;
 top: 5px;
 padding-left: 2px;
 padding-right: 2px;
}


.messagesInnerWrapper{
  display:inline-block;
}


.chunkContainer{
  display:inline-block;
}

.textChunk{
  display:inline-block;
  white-space:nowrap;
  padding-left: 2px;
  padding-right: 2px;
  max-height:22px;
}

.starButton{
  color: #2a447882;
    border: 0px solid transparent !important;
}

.starButton nb-icon{
  font-size: 2.5rem;
}

.starButton:hover{
  color: #256dff8f;
}

.starButton.active{
  color: #256dff;
  // color: green;

    border: 0px solid transparent !important;
        font-size: 2.5rem;
}

.starButton.active nb-icon{
  font-size:2rem;
}

.starButton.pending{
  color: #256dff;
    border: 0px solid transparent !important;
        font-size: 2.5rem;
}



.pp{
  z-index:12
}
.details{
  z-index:11;
}

.newPostContainer,.postContainer{
  background: #1e2437c9;
  margin-left: 5vw;
  border-radius: 10px;
  padding: 40px;
  opacity: 0.9;
  font-family: Ubuntu;
  font-size: 22px;
  color: #4680e9;
  width: 90vw;
  text-align: right;
  margin-bottom: 5vh;
      border: 1px solid #ff000042;
}
.postContainer{
  text-align:left;
  border: 1px solid #2d63eca6;

}

.postButton{
  color: #c6c489c7;
font-family: Ubuntu;
font-size: 16px;
    margin-top: 4vh;
    border: 2px solid #9dafaabf;
}

.postDelete{
  float: right;
color: #ff0000cf;
margin-left: 10px;
font-size: 20px;
top: -1px;
cursor:pointer;
}

.postTime{
    color: #452781;
    font-size: 14px;
    margin-bottom: 10px;
        width: 320px;
}

.newPostContainer textarea::placeholder {
  color: #ff0045;
}
.mat-input-element {
    caret-color: #546184;
        text-align: left;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px;

}

.mat-input-element:focus{
  border: 1px solid red;
}


.mat-input-element::placeholder:focus{
  display:none;
}

.details{
      color: #6d95ce;
}

.postAlias{
  cursor:pointer;
  display: inline-block;
      font-weight: 900 !important;
      color: #a60606c7;
      letter-spacing: -0.1rem;
      font-family: Helvetica;

}
.postContent{
  width: 100%;
    margin-top: 40px;
}
