<div class="algorithmsHeader">
Algorithms:
</div>
<div  class="treeNodeContainerSingle Network" [class.active-channel]="selectedStream === 'Network'" (click)="showAlgo('Network')" >
 <!-- <button mat-icon-button disabled></button> -->
 <nb-icon icon="activity"></nb-icon>
   <span class="checklist-leaf-node">
     <span class="nodeContent"  >
          Network
     </span>
   </span>

</div>

<button class="newAlgoButton">
  <nb-icon icon='plus-outline' class="newAlgoIcon"></nb-icon> New Algorithm
</button>
