<div class="algorithmsHeader">
Algorithms:
</div>

<div  class="treeNodeContainerSingle Network"  [routerLink]="['/social/stream/network']" [routerLinkActive]="['active-channel']">
 <!-- <button mat-icon-button disabled></button> -->
 <nb-icon icon="activity"></nb-icon>
   <span class="checklist-leaf-node">
     <span class="nodeContent"  >
          Network
     </span>
   </span>

</div>

<button class="newAlgoButton">
  <nb-icon icon='plus-outline' class="newAlgoIcon"></nb-icon> New Algorithm
</button>

<div  class="treeNodeContainerSingle Network"  [routerLink]="['/social/profile']" [routerLinkActive]="['active-channel']" [routerLinkActiveOptions]="{exact:
true}">
 <!-- <button mat-icon-button disabled></button> -->
 <nb-icon icon="shake-outline"></nb-icon>
   <span class="checklist-leaf-node">
     <span class="nodeContent station"  style="width:100%;">
           My Station
     </span>
   </span>

</div>

<div class="algorithmsHeader">
Favorites:
</div>

<social-profile-favorites></social-profile-favorites>
