
    <ng-template #qrPop let-data let-ref="qrRef">
          <nb-card>
            <nb-card-header>Verify Peer</nb-card-header>
            <nb-card-body style="color:goldenrod;">

              <div class='qrScanWrapper'>
              <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="qrSuccessHandler($event)"
                [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
                </div>

            </nb-card-body>
            <nb-card-footer>
              <!-- <button mat-stroked-button color="primary" (click)="createNewChannel(newChannelName);" style="    margin-right: 20px;
        border: 1px solid #ffffff24;">Use</button> -->
              <button mat-stroked-button color="primary" (click)="closeQR()" style="    border: 1px solid #ffffff24;">Cancel</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>


        <ng-template #qrCode let-data let-ref="qrCodeRef">
              <nb-card>
                <nb-card-header>Verify Peer</nb-card-header>
                <nb-card-body style="margin:10px;color:goldenrod;">

                  <div style="">






                    <div class="qrCodeWrapper">
                      <img [src]="qrCodeURLSafe" alt="" class="img-thumbnail" class="qrCodeShowGenerate">
                    </div>




                      </div>
                </nb-card-body>
                <nb-card-footer>
                  <button mat-stroked-button color="primary" (click)="closePopup()" style="    border: 1px solid #ffffff24;">Close</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>




<div class="poster" *ngIf="!searchResultsActive">

  <div class="profilePrivacy mat-elevatation-z6" *ngIf="private" (click)="togglePrivacy()"><nb-icon icon="lock-outline"></nb-icon> Private</div>
  <div class="profilePrivacy mat-elevatation-z14" *ngIf="!private"  (click)="togglePrivacy()"><nb-icon icon="globe-outline"></nb-icon> Public</div>


</div>
<div class="pp"  *ngIf="!searchResultsActive">
<img class="mat-elevation-z14" src="./assets/defaultAvatar.png">
</div>


<div class="details mat-elevation-z6" *ngIf="!editDetails && !searchResultsActive">

  <div class="pubKeyDisplay" *ngIf="!searchResultsActive" (click)="showVerificationQR()">{{ pubKey }}</div>


<div class="name">
  <div class="alias">
    {{ alias }}
  </div>
  <div class="fullname">
    {{ fullName }}
  </div>
</div>



<div class="about">
{{ about }}
</div>

<button mat-stroked-button color="primary" (click)="verify()" class="defaultSettingsButton thickOutlineButton editButton starButton verifyButton" *ngIf="!isMyProfile && !isVerified">
<nb-icon icon="checkmark-circle-2-outline"></nb-icon>
</button>


<button mat-stroked-button color="primary" class="defaultSettingsButton thickOutlineButton editButton starButton active verifyButton" *ngIf="!isMyProfile && isVerified">
<nb-icon icon="checkmark-circle-2-outline"></nb-icon>
</button>


<button mat-stroked-button color="primary" (click)="setConnection(true)" class="defaultSettingsButton thickOutlineButton editButton starButton" *ngIf="!isMyProfile && !isConnection">
<nb-icon icon="star-outline"></nb-icon>
</button>

<button mat-stroked-button color="primary" (click)="openMessages(pubKey)" class="defaultSettingsButton thickOutlineButton editButton starButton active" *ngIf="!isMyProfile && isConnection">
<nb-icon icon="message-circle-outline"></nb-icon>
</button>

<button mat-stroked-button color="primary" (click)="setConnection(false)" class="defaultSettingsButton thickOutlineButton editButton starButton pending" *ngIf="!isMyProfile && isRequestedConnection">
<nb-icon icon="star-outline"></nb-icon>
</button>

<button mat-stroked-button color="primary" (click)="edit()" class="defaultSettingsButton thickOutlineButton editButton" *ngIf="isMyProfile">Edit</button>


</div>




<div class="details mat-elevation-z6" *ngIf="editDetails && !searchResultsActive">

  <div class="pubKeyDisplay" *ngIf="!searchResultsActive" (click)="showVerificationQR()">{{ pubKey }}</div>


<div class="name">
  <div class="alias">
    <input matInput placeholder="Alias"  name='newAlias' [(ngModel)]='newAlias'>
  </div>
  <div class="fullname">
    <input matInput placeholder="Full Name" name='newFullName' [(ngModel)]='newFullName'>
  </div>
</div>

<div class="about">
  <textarea matInput name='about' [(ngModel)]='newAbout'></textarea>
</div>


<button mat-stroked-button color="primary" class="defaultSettingsButton thickOutlineButton saveButton" (click)="save()">Save</button>
<button mat-stroked-button color="primary" class="defaultSettingsButton thickOutlineButton discardButton" (click)="edit(false)" >Discard</button>


</div>



<div class="fundUs"  *ngIf="!searchResultsActive">

  <a class="mat-elevation-z18" href="https://github.com/QuestNetwork/qd-social-ts#support-us" target="_blank"><button mat-stroked-button color="secondary" class="defaultSettingsButton noOutlineButton fundButton" >Fund This Module For Upgrades!</button></a>

</div>

<div class="results social-search-results" *ngIf="searchResultsActive">


  <div class="resultCardWrapper" *ngFor="let result of searchResults">

    <div class="resultCard mat-elevation-z6" fxLayout="row" (click)="openProfile(result['key']['pubKey'])">
      <div class="searchResultPp">
        <img class="mat-elevation-z14" class="searchResultPpImg" src="./assets/defaultAvatar.png">
      </div>
      <div class="searchResultColumn">
        <span class="searchResultAlias">{{ result['alias'] }} </span><br>
        <span class="searchResultFullName">{{ result['fullName'] }} </span>
      </div>
      <div class="searchResultConnection topCorner" >

        <nb-icon icon="star-outline" style="opacity: 0.2;" *ngIf="!result['isFavorite'] && !result['isRequestedFavorite']"></nb-icon>
        <nb-icon icon="message-circle-outline" (click)="openMessages(result['key']['pubKey'])"  *ngIf="result['isFavorite']"></nb-icon>
        <nb-icon icon="star-outline" *ngIf="result['isRequestedFavorite']" ></nb-icon>
      </div>
      <div class="searchResultAbout searchResultColumn" style="flex:auto;">
        <div class="searchResultAboutWrapper">
        {{ result['about'] }}
        </div>
      </div>
      <div class="searchResultConnection searchResultColumn" style="  margin-top: 27px;  margin-right: 10px;">

        <nb-icon icon="star-outline" style="opacity: 0.2;" *ngIf="!result['isFavorite'] && !result['isRequestedFavorite']"></nb-icon>
        <nb-icon icon="message-circle-outline" (click)="openMessages(result['key']['pubKey'])"  *ngIf="result['isFavorite']"></nb-icon>
        <nb-icon icon="star-outline" *ngIf="result['isRequestedFavorite']" ></nb-icon>
      </div>
    </div>

  </div>



</div>


<div class="search">

  <div class="message-row">
  <div style="    width: 100%;">

    <input [(ngModel)]='searchPhrase'
           fullWidth nbInput

           (focus)="inputFocus = true"
           (blur)="inputFocus = false"
           (mouseenter)="inputHover = true"
           (mouseleave)="inputHover = false"
           type="text"
           placeholder="{{  'Who are you looking for?' }}"
           (keyup.enter)="search()" (keyup)="parseSearchBar()" class="mat-elevation-z16" (click)="searchBarClicked()">
    <button  nbSuffix nbButton ghost class="searchButtonWrapper"

            (click)="search()"
        >
      <nb-icon *ngIf="!buttonTitle; else title"  class="searchButton" icon="search-outline"></nb-icon>
      <ng-template #title>{{ buttonTitle }}</ng-template>
    </button>
    </div>

  </div>


</div>
