<div class="poster">

</div>
<div class="pp">
<img src="./assets/defaultAvatar.png">
</div>

<div class="details">

<div class="name">
  <div class="alias">
    Anonymous
  </div>
  <div class="fullname">
    Anonymous
  </div>
</div>



<div class="about">
  The Universe is under no obligation to make sense to you.

  I'd rather not say anything.

  do@not-find-me.com
</div>


<button mat-stroked-button color="primary" class="defaultSettingsButton thickOutlineButton editButton" >Edit</button>

</div>
