.browse-files-button{
    border-radius:3px;
  padding:5px;
  color:purple;
}


.importButton{
  color:purple !important;
}





.joinScreen, .inviteScreen, .captchaScreen{
  background-color: #222b45;
      padding: 20px;
          text-align: center;
}

.joinScreen,.inviteScreen,.captchaScreen,.chatScreen{
  height:100%;
}


.joinScreen > div,.inviteScreen > div,.captchaScreen > div,.chatScreen{
  height:100%;
}


.poster{
  height:30vh;
  background-color:#111161;
}


.pp{
  border-radius:5px;
  overflow:hidden;
  position: relative;
left: 30px;
top: -30px;
z-index:1;
}

.pp > img, .pp{
  width:60px;
  height:60px;
}

.name{
  white-space: nowrap;
}

.alias{
  white-space: nowrap;
  float:left;
  font-size: 24px;
}

.fullname{
  white-space: nowrap;
  float:left;
  margin-left: 20px;
      opacity: 0.5;
}

.about{
  clear:both;
  padding-top: 30px;
  padding-right: 20px;
}


.details{
  overflow:hidden;
  background:#2d2b2b;
  color:white;
  padding-left: 20px;
  font-size: 20px;
  position: relative;
  top: -60px;
  padding-top: 60px;
  z-index: 0;
  padding-bottom: 50px;
}

.editButton{
  position: absolute;
      right: 23px;
      font-size: 20px;
      top: 52px;
      z-index: 1;
}


.fundUs{
  text-align:center;
}

.fundButton{
  background: #bfbf13 !important;
font-size: 16px !important;
border: 3px solid #e4e4e4 !important;
}


@media only screen and (max-width: 370px) {
  .fullname{
    clear: both;
    margin-left: 0;
  }
}
