

<div class="search">

  <div class="message-row">
  <div style="    width: 100%;">

    <input [(ngModel)]='searchPhrase'
           fullWidth nbInput

           (focus)="inputFocus = true"
           (blur)="inputFocus = false"
           (mouseenter)="inputHover = true"
           (mouseleave)="inputHover = false"
           type="text"
           placeholder="{{  'What are you looking for?' }}"
           (keyup.enter)="search()" (keyup)="parseSearchBar()" class="mat-elevation-z16" (click)="searchBarClicked()">
    <button  nbSuffix nbButton ghost class="searchButtonWrapper"

            (click)="search()"
        >
      <nb-icon *ngIf="!buttonTitle; else title"  class="searchButton" icon="search-outline"></nb-icon>
      <ng-template #title>{{ buttonTitle }}</ng-template>
    </button>
    </div>

  </div>


</div>



<div class="postViewer" *ngIf="syncStatus">

<social-timeline-post-combined-timeline *ngFor="let combinedTimeline of groupedTimeline" [combinedTimeline]="combinedTimeline" [isMyProfile]="isMyProfile">
</social-timeline-post-combined-timeline>



<div class="fundUs" (click)="syncMore()" *ngIf="!searchResultsActive && groupedTimeline.length > 0" >

<button mat-stroked-button color="secondary" class="mat-elevation-z18 defaultSettingsButton noOutlineButton fundButton" >
    Sync More
  </button>


</div>

<div class="fundUs"  *ngIf="!searchResultsActive && ( groupedTimeline.length == 0 || !syncStatus)" style="margin-top: 40vh;">

  <a class="mat-elevation-z18"  target="_blank">
    <button mat-stroked-button color="secondary" class="defaultSettingsButton noOutlineButton fundButton" >
      Syncing...
    </button></a>

</div>


</div>
