


//
// .BuyCreditButton{
// color: #40de55eb;
// }
//
// //




.centerButtonWrapper{
  position: fixed;
  bottom:3vh;
  left:0;
  right:0;
}


.centerButtonContainer{
  margin:auto;
}

.statusBarWrapper{
  position: fixed;
 bottom: 0;
 max-height: 28px;
 height: 28px;
     left: 0;
 right: 0;
 background-color: #2d2a2a;
 z-index: 20;
 font-size: 14px;
 color: grey;
 padding-left: 10px;
 padding-right: 10px;
 border-top: 1px solid black;
}

.statusBarRouterIcon{
 top: 4px;
margin: 0;
position: relative;
line-height: 10px;
font-size: 21px;
}

.statusBarRadioIcon{
  top: -5px;
margin: 0;
margin-left: 5px;
position: relative;
line-height: 9px;
font-size: 17px;
}


.web-top-links{
  position:fixed;right:13px;cursor:pointer;z-index: 20;top: 14px;
}
@media only screen and (max-width: 500px) {
  .web-top-links {
    display:none;
  }
}



nb-layout-column.profileLayoutColumn{
  background: linear-gradient(-10deg, #1d1a38, #3a0e0e);
  overflow:hidden;
   overflow-y: auto;
    position: fixed;
      top: 49px;
    bottom: 28px;
    left: 0;
    right: 0;
}

nb-layout-column::-webkit-scrollbar{
  width: 4px;
}

nb-layout-column::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4e84e58f;
}

nb-layout-column::-webkit-scrollbar-thumb {
  background-color: #4e84e58f;
  outline: 0;
}


.toggleStreams{
  position: absolute;
      font-size: 19px;
      left: 22px;
      background: #eed864;
      padding: 3px;
      font-weight: bold;
      border-radius: 4px;
      color: #2769f7c7;
      font-family: Ubuntu;
      line-height: 30px;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
top: 20px;
}

.toggleStreamsActive{
  position: absolute;
    font-size: 19px;
    left: 22px;
    padding: 3px;
    font-weight: bold;
    border-radius: 4px;
    color: #2769f7c7;
    font-family: Ubuntu;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    top: 72px;
    border: 1px solid #276ffd;

}

.toggleStreamsActive:hover{
      background: #256dfe14;
}

.toggleStreams nb-icon{
  font-size: 24px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

nb-layout{
  overflow: hidden;  position: fixed;

}

nb-layout-column{
      overflow-y: auto;
}

.streamsBrowseColumn{
  background: #22283a;
}
