<nb-layout>
  <nb-sidebar  state="expanded"  class="streamsSidebarColumn" *ngIf="streamsActive">
        sidebar
  </nb-sidebar>
  <nb-layout-column class="streamsBrowseColumn"  *ngIf="streamsActive">
    <app-social-stream></app-social-stream>
  </nb-layout-column>
  <nb-layout-column class="profileLayoutColumn"  *ngIf="!streamsActive">
    <div class="toggleStreams mat-elevatation-z14" *ngIf="!streamsActive"  (click)="toggleStreams()"><nb-icon icon="activity-outline"></nb-icon> Streams</div>

        <app-social-profile [pubKey]="selectedProfile"></app-social-profile>
  </nb-layout-column>
</nb-layout>


  <div class="toggleStreamsActive mat-elevatation-z6" *ngIf="streamsActive" (click)="toggleStreams()"><nb-icon icon="person-outline"></nb-icon> My Profile</div>
